{% extends "home.html" %}
{% load static %}


{% block title %}Regular Application{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/application_form.css' %}">
{% endblock %}

{% block content %}
<h1>Goodlark Regular Application Form</h1>
<form id="registration_form" method="post" action="{% url 'applications:regular_application' %}">
  {% csrf_token %}

  {% for field in application_form %}

  <p>
    {{ field.label }}: {{ field }} {{ field.help_text }}
  </p>

  {% endfor %}
  <input id="application_save" type="submit" name="submit" value="Save" />
</form>
{% endblock %}