<html>

<head>
  <title>Regular Application</title>
</head>

<body>
  <h2>Application Form:</h2>
  <form id="registration_form" method="post" action="{% url 'applications:regular_application' %}">
    {% csrf_token %}

    {% for field in application_user_form %}
      <p>
        {{ field.label }}: {{ field }}
      </p>
    {% endfor %}

    {% for field in application_form %}

        <p>
          {{ field.label }}: {{ field }}
        </p>

    {% endfor %}
    <input id="application_save" type="submit" name="submit" value="Save" />
</body>

</html>