#main_nav_bar {
    margin: 0;
    padding: 0;
    border: 1px dotted green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue
}

#register_button, #login_button, #logout_button, #regular_application_button {
    background-color: blue/* Green */;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

article#main_content {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#main_content {
    font-size: 1.2em;
}

h1 {
    text-align: center;
    font-size: 2em;

}

#home_page_copy {
    margin-top: 30px;
    text-align: justify;
}